* {
  color: rgb(250, 240, 230);
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: rgb(53, 47, 68);
}
h1 {
  font-size: 3rem;
  margin: 2rem;
}
h2 {
  margin: 2rem;
}
h3 {
  margin: 4rem;
  font-size: 1.5rem;
  text-decoration: underline;
  width: 90%;
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}

header {
  height: 6rem;
  align-items: center;
  justify-content: center;
  background-color: #222;
}
nav {
  display: flex;
  justify-content: space-around; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #222;
  height: 6rem;
}

.icon {
  height: 5rem;
  border-radius: 50%;
}

a {
  text-decoration: none;
  background-color: #222;
}
main {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 2rem;
  border-radius: 20px;
  border: 1px solid #fff;
  /* background-color: rgb(92, 84, 112); */
  background: radial-gradient(
    circle,
    rgba(92, 84, 112, 0.99),
    rgba(255, 255, 255, 0.1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
iframe {
  margin: 2rem;
}
.card {
  border: 1px solid #fff;
  text-align: center;
  box-shadow: #111 25%;
  width: 70%;
  margin: 1rem;
  box-shadow: #111 0.5rem 0.5rem 0.5rem;
}

.card:hover {
  border-left: 10px solid #111;
  border-right: 10px solid #111;
  box-shadow: #111 1rem 1rem 2rem;
}

.title-videos:hover {
  text-decoration: underline;
  cursor: pointer;
}
.title-videos:active {
  cursor: pointer;
}
.videos {
  display: none;
}

/*Footer*/
footer {
  background-color: #222;
  padding: 20px 0;
}

.footer-container {
  background-color: #222;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.footer-container p {
  margin: 0;
  background-color: #222;
  text-align: center;
}
